@import
    'vars';

.sub-box{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    position: relative;

    &.frow{
       flex-direction: row; 
    }

    h2{
        margin: 0;
    }
}

.muscle-popup-content{
    text-align: center;

    p{
        margin: 0;
    }
}

.streak{
    position: absolute;
    right: 50px;

    svg{
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 767px){
    .muscle-popup-content{
        width: 135px !important;
    }

    .streak{
        svg{
            width: 40px;
            height: 40px;
        }
    }
}

@media screen and (max-width: 400px){
    .streak{
        right: 10px;

        svg{
            width: 30px;
            height: 30px;
        }
    }
} 